@import "tailwindcss";

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
}

/* use tailwind for specific items */

/* use css modules formindividual pages */

/* modules can be stored together with their page/component or in a seperate styles folder (inside src folder) */

/* media queries go in global */
