.link {
  display: block;
  margin-bottom: 3rem;
  color: var(--color-purple);
}

.h3 {
  margin-top: 3rem;
  text-align: center;
}

.border {
  border-bottom: 2px solid var(--color-purple);
  margin-bottom: 1rem;
}

.postbody {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  overflow: hidden;
  margin-bottom: 1rem;
}

.linkblock {
  display: flex;
  flex-direction: row;
  margin: 1rem 1rem 2rem 2rem;
}

.links1 {
  display: flex;
  flex-direction: column;
  padding-right: 1rem;
}

.links2 {
  display: flex;
  flex-direction: column;
  border-left: solid 2px var(--color-purple);
}
