.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
}

.comment {
  margin: auto;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  border: black 2px solid;
  border-radius: 16px;
  max-width: 90vw;
  padding: 16px;
  margin-bottom: 2rem;
}

.commentbody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  border: solid black 2px;
  border-radius: 8px;
  width: fit-content;
  margin: auto;
  margin-top: 2rem;
  padding: 8px 16px 8px 16px;
}
